@keyframes fade-in-right {
  0% {
    transform: translateX(600px);
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes fade-out-right {
  0% {
    transform: translateX(0px);
    opacity: 100%;
  }
  100% {
    opacity: 50%;
    transform: translateX(600px);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.fadeInRight {
  animation: fade-in-right 400ms forwards;
}

.fadeInLeft {
  animation: fade-in-right 400ms forwards;
}

.fadeOutRight {
  animation: fade-out-right 300ms forwards;
}

.blink {
  animation: blink 2s ease-in-out infinite;
}
